// @import './theme.less';
body {
    // font-size: 50px;
}
// 字体颜色
@greyColor: #4c4c4c;
@timeColor: #878787;
@blueColor: rgba(0, 96, 140, .8);
@deepGreyColor: rgba(0, 76, 104, 1.0);
@deepGreyHover: #e7e7e7;
@activeColor: rgba(0, 118, 161, 1.0);
@hoverColor: rgba(0, 136, 185, 1.0);
@menuFontSize: 22px;
@menuPaddingLeft: 100px;
@commentColor: #5b5b5b;
@beReplyColor: #a6a6a6;

// 高度
@headHeight: 70px;
@footerHeight: 50px;

// 边框
@caseBorder: rgba(220, 220, 220, .5);

// 背景色
@activeBg: rgba(0, 118, 161, .2);
@hoverBg: rgba(0, 118, 161, .6);
@headbgHover: rgba(0, 96, 140, .2);
@headbg: linear-gradient(to right, rgba(0, 96, 140, .5) 5%, rgba(0, 96, 140, .8) 80%);
@footerbg: rgba(0, 96, 140, .1);
// 文章详情卡片颜色
@cardbg: rgba(249, 249, 249, .1);

// 宽度
@articleLeftWidth: 430px;

